.body{
    background-color: rgb(248, 248, 248);
}
.one
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.one fieldset
{
    background-color: azure;
    border-radius: 12px;
    overflow: hidden;
}
.Ajouter{
    border-radius: 5px;
    overflow: hidden;
    margin-top: 30px;
    width: 100px;
}